Repository openquantumhardware/qick, pull requests merged in 2025-07, with the labels that each got.

#350 Reduced latency of Dispatcher FIFOs
  firmware/ip/qick_processor/component.xml
  firmware/ip/qick_processor/src/_qproc_ips.sv
  firmware/ip/qick_processor/src/axis_qick_processor.sv
  firmware/ip/qick_processor/src/dsp_macro_0/dsp_macro_0.xci
  firmware/ip/qick_processor/src/logoQICK_128x128.png
  firmware/ip/qick_processor/src/qick_processor.sv
  firmware/ip/qick_processor/src/qick_processor_ooc.xdc
  firmware/ip/qick_processor/src/qproc_axi_reg.sv
  firmware/ip/qick_processor/src/qproc_dispatcher.sv
  firmware/ip/qick_processor/src/tb/axi_mst_0/axi_mst_0.xci
  firmware/ip/qick_processor/src/tb/axi_mst_0/axi_mst_0.xml
  firmware/ip/qick_processor/src/tb/dmem_issue35.mem
  firmware/ip/qick_processor/src/tb/prog_issue35.mem
  firmware/ip/qick_processor/src/tb/prog_issue37.mem
  firmware/ip/qick_processor/src/tb/tb_qick_processor_issue35.sv
  firmware/ip/qick_processor/src/tb/tb_qproc_issue35.wcfg
  firmware/ip/qick_processor/src/tb/wave_issue35.mem
  firmware/ip/qick_processor/src/tb/wave_issue37.mem
  qick_lib/qick/VERSION
  qick_lib/qick/asm_v2.py
Labels: bug, enhancement, firmware

#355 Connected vin10 from rf_data_converter in qick_tprocv2_216_rfbv2_standard
  firmware/projects/qick_tprocv2_216_rfbv2_standard/bd_2023-1.tcl
  qick_lib/qick/VERSION
Labels: bug, firmware

#354 Create a QICK testbench to run RTL simulations with main blocks
  firmware/ip/axis_avg_buffer/component.xml
  firmware/ip/axis_avg_buffer/src/axi_slv_avg_buf.vhd
  firmware/ip/axis_avg_buffer/src/axis_avg_buffer.v
  firmware/ip/axis_dyn_readout_v1/component.xml
  firmware/ip/axis_dyn_readout_v1/src/ctrl_dyn_ro_v1.sv
  firmware/ip/axis_dyn_readout_v1/src/down_conversion.v
  firmware/ip/axis_dyn_readout_v1/src/fir_compiler_0/fir_compiler_0.xci
  firmware/ip/axis_signal_gen_v6/component.xml
  firmware/ip/axis_signal_gen_v6/src/axi_slv_sg_v6.vhd
  firmware/ip/axis_signal_gen_v6/src/axis_signal_gen_v6.v
  firmware/ip/axis_signal_gen_v6/src/ctrl_sg_v6.sv
  firmware/ip/axis_signal_gen_v6/src/signal_gen.v
  firmware/ip/axis_signal_gen_v6/src/tb/tb_ctrl.sv
  firmware/ip/qick_processor/src/dsp_macro_0/dsp_macro_0.xci
  firmware/ip/qick_sg_translator/src/sg_translator.v
  firmware/testbench/qick_testbench/qick_testbench.xpr
  firmware/testbench/qick_testbench/src/tb/axi_mst_0/axi_mst_0.veo
  firmware/testbench/qick_testbench/src/tb/axi_mst_0/axi_mst_0.vho
  firmware/testbench/qick_testbench/src/tb/axi_mst_0/axi_mst_0.xci
  firmware/testbench/qick_testbench/src/tb/axi_mst_0/axi_mst_0.xml
  firmware/testbench/qick_testbench/src/tb/axi_mst_0/axi_mst_0_ooc.xdc
  firmware/testbench/qick_testbench/src/tb/tb_qick.sv
  firmware/testbench/qick_testbench/src/tb/tb_qick_behav.wcfg
  firmware/testbench/qick_testbench/src/tb/test01/README
  firmware/testbench/qick_testbench/src/tb/test01/dmem.mem
  firmware/testbench/qick_testbench/src/tb/test01/pmem.mem
  firmware/testbench/qick_testbench/src/tb/test01/sg_0.mem
  firmware/testbench/qick_testbench/src/tb/test01/wmem.mem
  firmware/testbench/qick_testbench/src/tb/test02/README
  firmware/testbench/qick_testbench/src/tb/test02/dmem.mem
  firmware/testbench/qick_testbench/src/tb/test02/pmem.mem
  firmware/testbench/qick_testbench/src/tb/test02/sg_0.mem
  firmware/testbench/qick_testbench/src/tb/test02/wmem.mem
  qick_lib/qick/VERSION
  qick_lib/qick/asm_v2.py
  qick_lib/qick/qick.py
Labels: firmware
